h1 {
    background-color: rgb(103, 207, 18);
}
p {
    font-size: 200%;
    background-color: rgb(79, 159, 206);

}
li{
    font-size: 200%;
}
a:hover
{
background-color: aqua;
}
body {
    background: orange;}
    p {
        margin-top: 10px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 100px;}
    