h1 {
    background-color: rgb(103, 207, 18);
   margin: -30px;
   margin-right: 200px;
   margin-left: 200px;
   padding: 50px;
   font-size: 100px;
   margin-top: -89px;
   
}
    h1:hover
    {
        color: chartreuse;
    }

p:hover {
   color: chartreuse;
}
li{
    font-size: 200%;
    
}
a:hover
{
background-color: aqua;
}
body {
    background: orange;
     padding: 5%; 
    }
    p {
        font-size: 200%;
        background-color: rgb(79, 159, 206);
        margin-bottom: 100px;
        margin-right: 200px;
        margin-left: 200px;
        margin-top: 30px;
    }
        
       
        ol:hover 
        {
            color: chartreuse;

        }
        li:hover
        {
            color: chartreuse;
            
        }
        ol{
            font-size: 30px;
        }
        h3
        {
            font-size: 30px;
        
        }
        h2
        {
            font-size: 30px;
        }
        li 
        {
            margin-left: 50pt;
        }


        div {
            width: 100px;
            height: 100px;
            background: red;
            transition: width 2s;
          }
          
          div:hover {
            width: 300px;}
            div {
                width: 100px;
                height: 100px;
                background-color: red;
                animation-name: example;
                animation-duration: 8s;
              }
              
              @keyframes example {
                0%   {background-color: red;}
                25%  {background-color: yellow;}
                50%  {background-color: blue;}
                100% {background-color: green;}
              }
              div {
                width: 100px;
                height: 100px;
                background-color: red;
                position: relative;
                animation-name: example;
                animation-duration: 4s;
              }
              
              div {
                width: 100px;
                height: 100px;
                background-color: red;
                position: relative;
                animation-name: example;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-delay: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
              }
              
              @keyframes example {
                0%   {background-color:red; left:0px; top:0px;}
                25%  {background-color:yellow; left:200px; top:0px;}
                50%  {background-color:blue; left:200px; top:200px;}
                75%  {background-color:chartreuse; left:0px; top:200px;}
                100% {background-color:red; left:0px; top:0px;} }